/*Fonst*/
@font-face {
  font-display: swap;
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/rowdies-v18-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rowdies-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rowdies-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v48-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v48-latin-600.woff2') format('woff2');
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary-white: #fff;
  --color-primary-orange: #ff9f0e;
  --color-primaty-dark: #181817;
  --color-secondary-orange: #fcb62a;
  --color-secondary-beige: #fffaf3;
  --color-secondary-cornflower-blue: #f1f3ff;
  --color-secondary-grey: #839aa9;
  --color-secondary-white: #f9f9ff;
  --color-secondary-pink: #d9a6ff;
}

/*Base*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 18px;
  background-color: #fff;
  color: var(--color-primaty-dark);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/*Link*/
.link {
  color: var(--color-primaty-dark);
  letter-spacing: 0.05em;
  transition: color 0.3s;

  &:hover {
    color: var(--color-primary-orange);
  }
}

/*Icon*/
.icon {
  fill: var(--color-primary-orange);
  transition: fill 0.3s;

  &:hover {
    fill: var(--color-primaty-dark);
  }
}

/*Button*/
.button {
  display: block;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-primary-orange);
  font-family: 'Roboto';
  font-size: 18px;
  color: var(--color-primary-white);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--color-secondary-orange);
  }
}

/*Section*/
.section {
  &__title {
    font-family: 'Rowdies';
    font-size: 56px;
    font-weight: 400;
  }
}

/*Decoration*/
.decoration {
  position: absolute;
  z-index: -1;
  width: 100%;
}

/*Visually-hidden*/
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*Contact-form*/
.contact-form {
  &__container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 600px;
  }

  &__title {
    max-width: 604px;
    text-align: center;
    margin: 0 auto 16px;
  }

  &__text {
    line-height: 133%;
    letter-spacing: 0.05em;
    color: var(--color-secondary-grey);
    margin: 0 auto 42px;
  }

  &__field {
    position: relative;
    margin-bottom: 24px;

    &__lable {
      position: absolute;
      top: 16px;
      left: 42px;
    }

    &__img {
      position: absolute;
      // z-index: -1;
      left: 40px;
      top: 8px;
    }

    &__input {
      font-family: 'Roboto', sans-serif;
      color: var(--color-primary-orange);
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.05em;
      background-color: transparent;
      width: 100%;
      padding: 12.5px 35px 12.5px 80px;
      border: 1px solid var(--color-primary-orange);
      border-radius: 8px;
      transition: color 0.3s;

      &:focus {
        color: var(--color-primaty-dark);
        outline: none;
        border-color: var(--color-primary-orange);
      }

      &::placeholder {
        color: var(--color-primary-orange);
        transition: color 0.3s;
      }

      &:focus::placeholder {
        color: var(--color-primaty-dark);
      }
    }
  }

  &__button {
    margin: 0 auto 16px;
  }
}

/*Privay*/
.privacy {
  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    & input {
      display: none;
    }

    & input:checked + .privacy__custom {
      background-image: url('../images/checkbox-active.png');
    }
  }

  &__custom {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url('../images/checkbox-normal.png');
    background-size: cover;
    cursor: pointer;
  }

  &__text {
    font-weight: 300;
    font-size: 12px;
    color: var(--color-secondary-grey);
  }
}

/*Header*/
.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;

  &__container {
    display: flex;
    gap: 24px;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__menu {
    display: flex;
    gap: 48px;
  }

  &__buttons-container {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    align-items: center;
    gap: 24px;
  }
}

/*Hero-section*/
.hero-section {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    left: 0px;
    top: 76px;
    width: 100%;
    height: 808px;
    z-index: -1;
    background-image: url('../images/hero-section-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
  }

  &__container {
    display: flex;
    min-height: 896px;
    padding: 297px 0 60px;
    gap: 65px;
  }

  &__content {
    gap: 65px;
  }

  &__title {
    font-size: 72px;
    letter-spacing: 0.05em;
    max-width: 635px;
    margin-bottom: 40px;
  }

  &__text {
    font-size: 22px;
    max-width: 428px;
    line-height: 155%;
    margin-bottom: 24px;
  }

  &__image {
    max-height: 516px;
    max-width: 506px;
    align-self: flex-end;
  }

  &__decoration-image {
    position: absolute;

    &:nth-child(1) {
      left: 454px;
      top: -76px;
    }

    &:nth-child(2) {
      left: 694px;
      top: 56px;
    }

    &:nth-child(3) {
      left: 596px;
      top: 408px;
    }

    &:nth-child(4) {
      left: 1212px;
      top: 194px;
    }

    &:nth-child(5) {
      left: 788px;
      top: -44px;
    }

    &:nth-child(6) {
      left: 1171px;
      top: 62px;
    }

    &:nth-child(7) {
      left: 552px;
      top: 234px;
    }

    &:nth-child(8) {
      left: 702px;
      top: -248px;
    }

    &:nth-child(9) {
      left: 1210px;
      top: -222px;
    }

    &:nth-child(10) {
      left: 120px;
      top: 484px;
    }
  }
}

/*Less-talk-section*/
.less-talk-section {
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    padding-top: 8px;
    gap: 24px;
  }

  &__content {
    align-self: center;
    padding-top: 24px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    font-size: 22px;
    line-height: 155%;
    margin-bottom: 24px;
  }

  &__decoration-image {
    position: absolute;

    &:nth-child(1) {
      left: -120px;
      top: 114px;
    }

    &:nth-child(2) {
      left: 1144px;
      top: -24px;
    }

    &:nth-child(3) {
      left: 990px;
      top: 498px;
    }

    &:nth-child(4) {
      left: 226px;
      top: 616px;
    }
  }
}

/*Services-section*/
.services-section {
  position: relative;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 72px 0 96px;
  }

  &__list-container {
    display: flex;
    align-items: flex-end;
    gap: 24px;
  }

  &__title {
    align-self: center;
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 47px 71px;
    font-weight: 600;
    font-size: 22px;
    color: var(--color-primary-orange);
    border: 1px solid var(--color-secondary-white);
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 rgba(24, 24, 23, 0.05);
    background: linear-gradient(180deg, #fff 0%, #fffbf4 100%);
  }

  &__link {
    display: flex;
    gap: 8px;
    line-height: 133%;
    color: var(--color-primary-orange);
    fill: var(--color-primary-orange);
    transition: color 0.3s, fill 0.3s;

    &:hover {
      color: var(--color-primaty-dark);
      fill: var(--color-primary-dark);
    }
  }

  &::before {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 521px;
    z-index: -1;
    background-image: url('../images/services-section-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
  }

  &__decoration-image {
    position: absolute;
    left: 1112px;
    top: -83px;
  }
}

/*Happy-section*/
.happy-section {
  position: relative;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    align-self: center;
    margin-bottom: 48px;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-secondary-grey);
    fill: var(--color-primary-white);
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: var(--color-primary-orange);
    }

    &.next {
      transform: rotate(180deg);
    }
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__card {
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    height: 456px;
    border-radius: 24px;

    &__content {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 16px;
      background: var(--color-secondary-grey);
    }

    &__image {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__title {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 8px;
      color: var(--color-primary-white);
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 24px;
      color: var(--color-secondary-cornflower-blue);
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    &__button {
      width: 12px;
      height: 12px;
      padding: 0;
      background-color: var(--color-secondary-grey);
      border-radius: 50%;

      &--active {
        background-color: var(--color-primary-orange);
      }
    }
  }

  &__decoration-image {
    position: absolute;

    &:nth-child(1) {
      left: -34px;
      top: -6px;
    }

    &:nth-child(2) {
      left: 1236px;
      top: 8px;
    }

    &:nth-child(3) {
      left: -254px;
      top: 384px;
    }
  }
}

/*Contact-section*/
.contant-section {
  display: flex;
  position: relative;
  padding: 168px 0 92px;

  &::before {
    position: absolute;
    left: 0px;
    top: -38px;
    width: 100%;
    height: 833px;
    z-index: -1;
    background-image: url('../images/contact-section-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
  }

  &__decoration-image {
    position: absolute;

    &:nth-child(1) {
      left: 0px;
      top: 44px;
    }

    &:nth-child(2) {
      right: 0px;
      top: -138px;
    }
  }
}

/*Footer*/
.footer {
  padding: 18px 0 50px;

  &__bg-container {
    padding: 32px 0;
    background-color: var(--color-secondary-beige);
  }

  &__container {
    position: relative;
    display: flex;
    gap: 136px;

    &::after {
      position: absolute;
      right: 0px;
      top: -46px;
      width: 292px;
      height: 305px;
      background-image: url('../images/footer-dog.png');
      background-repeat: no-repeat;
      content: '';
    }
  }

  &__logo-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__social-container {
    display: flex;
    gap: 14px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__form {
    width: 100%;
    max-width: 320px;

    &__field {
      margin-bottom: 16px;

      &__img {
        // z-index: 1;
        top: 10px;
        left: 26px;
      }

      &__input {
        padding: 10.5px 24px 10.5px 56px;
        font-weight: 700;
        font-size: 16px;
      }

      &__cmc-input {
        padding: 8px 24px;
      }
    }
  }

  &__button {
    margin: 0 auto 16px;
    padding: 8px 24px;
  }
}

/*Backdrop*/
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(24, 24, 23, 0.4);
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

/*Modal*/
.modal {
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 142px 140px;
  max-width: 880px;
  max-height: 880px;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background-color: var(--color-secondary-beige);

  &__btn-close {
    position: absolute;
    top: 56px;
    right: 48px;
    border: none;
    cursor: pointer;
    background: transparent;
    fill: var(--color-primary-orange);
    transition: fill 0.3s;

    &:hover {
      fill: var(--color-secondary-orange);
    }
  }

  &__decoration {
    z-index: 2;
  }

  &__decoration-image {
    position: absolute;

    &:nth-child(1) {
      right: 888px;
      top: 58px;
    }

    &:nth-child(2) {
      right: 250px;
      top: -118px;
    }

    &:nth-child(3) {
      left: -164px;
      top: 626px;
    }

    &:nth-child(4) {
      right: 200px;
      top: 600px;
    }
  }
}

/*Nutrition-section*/
.nutrition-section {
  overflow: hidden;

  &__container {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 157px 0 70px;
  }

  &__title-and-sorting-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 72px;
  }

  &__title {
    color: var(--color-primary-orange);
    margin-bottom: 0;
  }

  &__sorting-container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__sorting-text {
    font-weight: 600;
    letter-spacing: 0.05em;
    color: var(--color-primary-orange);
  }

  &__sorting-list {
    display: flex;
  }

  &__sorting-item {
    border-bottom: 1px solid var(--color-secondary-grey);
    border-left: 1px solid var(--color-secondary-grey);
    border-top: 1px solid var(--color-secondary-grey);

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-right: 1px solid var(--color-secondary-grey);
      border-radius: 0 2px 2px 0;
    }
  }

  &__sorting-button {
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--color-primaty-dark);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: var(--color-primary-orange);
      color: var(--color-primary-white);
    }

    &.active {
      background-color: var(--color-primary-orange);
      color: var(--color-primary-white);
    }
  }

  &__goods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
    row-gap: 40px;
    column-gap: 32px;
    margin-bottom: 32px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 16px 24px 16px;
    border-radius: 8px;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(24, 24, 23, 0.08);
      background: #fff;
    }
  }

  &__img {
    margin-bottom: 22px;
  }

  &__code-and-rating-container {
    display: flex;
    gap: 16px;
    margin-bottom: 13px;
  }

  &__code {
    margin-top: 1px;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-secondary-grey);
  }

  &__rating-list {
    display: flex;
    gap: 8px;

    & li {
      line-height: 0;
    }
  }

  &__icon {
    fill: var(--color-secondary-grey);

    &.active {
      fill: var(--color-primary-orange);
    }
  }

  &__description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 24px;
  }

  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    font-weight: 600;
    gap: 8px;

    &__old {
      font-weight: 400;
      font-size: 14px;
      text-decoration: line-through;
      color: var(--color-secondary-grey);
    }
  }

  &__pagination-list {
    display: flex;
    align-self: center;
  }

  &__pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 24px;
    font-size: 14px;
    color: var(--color-primaty-dark);
    fill: var(--color-primaty-dark);
    border-radius: 2px;
    transition: background-color 0.3s, fill 0.3s, color 0.3s;

    &:hover {
      color: var(--color-primary-white);
      background-color: var(--color-primary-orange);
      fill: var(--color-primary-white);
    }

    &.active {
      color: var(--color-primary-white);
      background-color: var(--color-primary-orange);
    }

    &.icon {
      line-height: 0;
    }

    &.next {
      transform: rotate(180deg);
    }
  }

  &__decoration-image {
    position: absolute;

    &:nth-child(1) {
      right: 402px;
      top: -116px;
    }

    &:nth-child(2) {
      right: -118px;
      top: -72px;
    }

    &:nth-child(3) {
      left: 140;
      top: 634px;
    }

    &:nth-child(4) {
      left: -122px;
      top: 884px;
    }

    &:nth-child(5) {
      right: -200px;
      top: 760px;
    }

    &:nth-child(6) {
      right: 98px;
      top: 1254px;
    }
  }
}
