/*Fonst*/
@font-face {
  font-display: swap;
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/rowdies-v18-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rowdies-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rowdies-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v48-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v48-latin-600.woff2') format('woff2');
}

:root {
  --color-primary-white: #fff;
  --color-primary-orange: #ff9f0e;
  --color-primaty-dark: #181817;
  --color-secondary-orange: #fcb62a;
  --color-secondary-beige: #fffaf3;
  --color-secondary-cornflower-blue: #f1f3ff;
  --color-secondary-grey: #839aa9;
  --color-secondary-white: #f9f9ff;
  --color-secondary-pink: #d9a6ff;
}

/*Base*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 18px;
  background-color: #fff;
  color: var(--color-primaty-dark);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/*Link*/
.link {
  color: var(--color-primaty-dark);
  letter-spacing: 0.05em;
  transition: color 0.3s;

  &:hover {
    color: var(--color-primary-orange);
  }
}

/*Icon*/
.icon {
  fill: var(--color-primary-orange);
  transition: fill 0.3s;

  &:hover {
    fill: var(--color-primaty-dark);
  }
}

/*Button*/
.button {
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-primary-orange);
  font-family: 'Roboto';
  font-size: 18px;
  color: var(--color-primary-white);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--color-secondary-orange);
  }
}

/*Section*/
.section {
  &__title {
    font-family: 'Rowdies';
    font-size: 56px;
    font-weight: 400;
  }
}

/*Decoration*/
.decoration {
  position: absolute;
  z-index: -1;
}

/*Header*/
.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;

  &__container {
    display: flex;
    gap: 24px;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__menu {
    display: flex;
    gap: 48px;
  }

  &__buttons-container {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    align-items: center;
    gap: 24px;
  }
}

/*Hero-section*/
.hero-section {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    left: 0px;
    top: 76px;
    width: 100%;
    height: 808px;
    z-index: -1;
    background-image: url(/images/hero-section-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
  }

  &__container {
    display: flex;
    min-height: 896px;
    padding: 297px 0 60px;
    gap: 65px;
  }

  &__content {
    gap: 65px;
  }

  &__title {
    font-size: 72px;
    letter-spacing: 0.05em;
    max-width: 635px;
    margin-bottom: 40px;
  }

  &__text {
    font-size: 22px;
    max-width: 428px;
    line-height: 155%;
    margin-bottom: 24px;
  }

  &__image {
    max-height: 516px;
    max-width: 506px;
    align-self: flex-end;
  }

  &__decoration-image {
    position: absolute;

    &:nth-child(1) {
      left: 454px;
      top: -76px;
    }

    &:nth-child(2) {
      left: 694px;
      top: 56px;
    }

    &:nth-child(3) {
      left: 596px;
      top: 408px;
    }

    &:nth-child(4) {
      left: 1212px;
      top: 194px;
    }

    &:nth-child(5) {
      left: 788px;
      top: -44px;
    }

    &:nth-child(6) {
      left: 1171px;
      top: 62px;
    }

    &:nth-child(7) {
      left: 552px;
      top: 234px;
    }

    &:nth-child(8) {
      left: 702px;
      top: -248px;
    }

    &:nth-child(9) {
      left: 1210px;
      top: -222px;
    }

    &:nth-child(10) {
      left: 120px;
      top: 484px;
    }
  }
}

/*Less-talk-section*/
.less-talk-section {
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    padding-top: 8px;
    gap: 24px;
  }

  &__content {
    align-self: center;
    padding-top: 24px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    font-size: 22px;
    line-height: 155%;
    margin-bottom: 24px;
  }

  &__decoration-image {
    position: absolute;

    &:nth-child(1) {
      left: -120px;
      top: 114px;
    }

    &:nth-child(2) {
      left: 1144px;
      top: -24px;
    }

    &:nth-child(3) {
      left: 990px;
      top: 498px;
    }

    &:nth-child(4) {
      left: 226px;
      top: 616px;
    }
  }
}

/*Services-section*/
.services-section {
  position: relative;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 72px 0 96px;
  }

  &__list-container {
    display: flex;
    gap: 24px;
  }

  &__title {
    align-self: center;
    margin-bottom: 48px;
  }

  &__list {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 47px 71px;
    font-weight: 600;
    font-size: 22px;
    color: var(--color-primary-orange);
    border: 1px solid var(--color-secondary-white);
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 rgba(24, 24, 23, 0.05);
    background: linear-gradient(180deg, #fff 0%, #fffbf4 100%);
  }

  &__link {
    display: flex;
    align-items: end;
    gap: 8px;
    line-height: 133%;
    color: var(--color-primary-orange);
    fill: var(--color-primary-orange);
    transition: color 0.3s, fill 0.3s;

    &:hover {
      color: var(--color-primaty-dark);
      fill: var(--color-primary-dark);
    }
  }

  &::before {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 521px;
    z-index: -1;
    background-image: url(/images/services-section-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
  }

  &__decoration-image {
    position: absolute;
    left: 1112px;
    top: -83px;
  }
}
